<div id="empty"></div>
<div id="footer_wrap">
    <div id="footer">
        &copy; Радио Модерн Inc., 2008 &mdash; 2017
        <p style="font-size: 8px">Вся музыка на сервере предоставлена исключительно для ознакомительного прослушивания,
            взята с открытых источников и не предназначена для продажи или распространения!<br/>
            Если вы являетесь правообладателем музыкального произведения, и не хотите, чтобы оно транслировались на
            Радио Модерн, сообщите об этом по адресу formula.modern@yandex.ru.<br/>
            Любое использование материалов сайта допустимо только со ссылкой на первоисточник.
        </p>
    </div>
</div>

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7378788-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-7378788-2');
</script>
