<div id="header_wrap">
    <div id="header"><a href="{{ site.baseurl }}/"><img src="/images/logo.png" alt="{{ site.title }}"/></a></div>
</div>
<div id="topmenu_wrap">
    <div id="topmenu">

        <!-- ************* ВЕРХНЕЕ МЕНЮ ************* -->
        <table width=height="38">
            <tr>
                {% assign pages = site.pages | sort: 'position' %}
                {% for m_page in pages %}
                {% if m_page.title %}
                {% assign current = 'topmenu' %}
                {% if page.collection == m_page.collection %}
                {% assign current = 'topmenuactive' %}
                {% endif %}
                <td width=1 height="38"><img src="/images/mb.jpg">
                <td><a class="{{current}}" href="{{ m_page.url | prepend: site.baseurl }}">{{ m_page.link }}</a></td>
                {% endif %}
                {% endfor %}
                <td width=1><img src="/images/mb.jpg"></td>
            </tr>
        </table>

    </div>
</div>
<div id="menu_wrap">
    <div id="menu"><!-- В эфире: -->
        <div id="song"></div>
        <div id="time"></div>
        <div id="messages"></div>
    </div>
</div>
